*jar
.DS_Store
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/build/
/checkouts/
/classes/
/junk/
/lib/
/local_maven_repo/
/target/
catalog-*
pom.xml
pom.xml.asc
